{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CAp:NP:Ino</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100" id="profile-wrapper">
					<a href="/"><img id="profile-pic" src="{% static 'images/Logo_NPs.png' %}" ></a>
					<hr>
					<h4>Crystall App!</h4>
					<strong>Ino-decahedron nanoparticles</strong>
					<p><small><small>Helping to construct your molecular models</small></small></p>
					<a href="/" id="div-link2">Home</a>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100">
					<h4>Nanoparticle models: Ino-decahedral</h4>
					<hr>
					<p>Construct a basic Ino-decahedral nanoarticle model fit for molecular simulations.
						Provide the element (monometallic NPs are only available for now), a reference interatomic
						distance and the number of rings.
					<div class="row">
<!--					Formulario -->
						<div class="col-md-6">
							<strong>Parameters</strong>
							<form method="post" action="">
							{% csrf_token %}
							<table>
								<tr><td>Name : </td><td>{{form.name}}</td></tr>
								<tr><td>Inter-Atomic distance : </td><td>{{form.InterAtomDistance}}</td></tr>
								<tr><td>Number of rings       : </td><td>{{form.NumberRings}}</td></tr>
								<tr><td>Extension cilinder    : </td><td>{{form.CilinderExtend}}</td></tr>
								<tr><td>Composition       	  : </td><td>{{form.Composition}}</td></tr>
								<tr><td></td><td>
								<button type="submit" name="submit" style="width: 150px">Submit parameters</button>
									</td>
								</tr>
							<!--	Show results-->
							{% if not ShowResult == False %}
								<tr><td><hr></td></tr>
								<tr><td>Download file </td>
									<td>
									<button type="submit" name="POSCARfile" style="width: 100px">POSCAR</button>
									<button type="submit" name="XYZfile" style="width: 50px">XYZ</button>
									</td>
							{% endif %}
							</table>
							</form>
						</div>
						<!--	Show results-->
						<div class="col-md-6">
						{% if not ShowResult == False %}
						<div class="row">
							<div class="col-md-12">
							<strong>Nanoparticle:</strong>
							<p>A decahedral {{Composition}} nanoparticle ("{{ShowResult}}") with {{NumberRings}} rings
								has {{NAtoms}} atoms and fits in a box of
								{{boxX}} x {{boxY}} x {{boxZ}} box.</p>
<!--								<pre><code style="display:block; white-space:pre-wrap">{{XYZfile}}</code></pre>-->
							</div>
						</div>
						{% endif %}
					</div>
					</div>
				</div>
			</div>
		</div>
		<br>

		<div class="row">
			<p>Today is {{date}}. Site created usin DJango. Github proyect here. Contact us at here.</p>
		</div>
	</div>


</body>
</html>
